body{
    text-align: center;
    background-image: url("cricket-bg.jpg") ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}
  #heading{
   text-size-adjust: 70px;
   margin-top: 50px;
   height: 70px; 
   font-size: 70px;
   color: rgb(15, 15, 88);
  }
 .choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: chartreuse;
    border-radius: 50px;
    cursor: pointer;
 }
 .choice-image{
    height: 75px;
 }

 .refresh-buton{
    background-color: rgb(228, 8, 8);
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 50px;
    height: 20px;
    width: 50px;
 }
  #user-move{
   font-family:cursive;
  color: rgb(6, 62, 4);
  font-weight: 900;
 
 }
 #computer-move{
   font-family:cursive;
   color: rgb(6, 62, 4);
   font-weight: 900;
 }
 #result{
   font-family:cursive;
   color: rgb(6, 62, 4);
   font-weight: 900;
 }
 #score{
   font-family:cursive;
   color: rgb(6, 62, 4);
   font-weight: 900;
 }